<div class="classificator-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtravimas">
  </mat-form-field>
  <span>
    <mat-icon>add_box</mat-icon>Pridėti paslauga
  </span>
</div>

<div class="classificator-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Veiksmai</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span  *ngIf="!row.editable" (click)="editClassificatorToogle(row)"><mat-icon>mode_edit</mat-icon>Redaguoti</span>
        <span *ngIf="row.editable" (click)="editClassificator(row.id)"><mat-icon >done</mat-icon>Išsaugoti</span>
      </mat-cell>
    </ng-container>
    <!--Articile code -->
    <ng-container matColumnDef="articile_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Straipsnio kodas</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="!row.editable">{{row.articile_code}}</span>
        <span *ngIf="row.editable">
          <mat-form-field>
          <input matInput type="text" [(ngModel)]="articile_code" value="{{row.articile_code}}">
        </mat-form-field>
        </span>

      </mat-cell>
    </ng-container>

    <!-- Articile title -->
    <ng-container matColumnDef="articile_title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PSDF biudžeto straipsnis </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.articile_title}}</span>
          <span *ngIf="row.editable">
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="articile_title" value="{{row.articile_title}}">
            </mat-form-field>
            </span>
      </mat-cell>

    </ng-container>

    <!-- Group code -->
    <ng-container matColumnDef="group_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Grupės kodas </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.group_code}}</span>
          <span *ngIf="row.editable">
            <mat-form-field>
            <input matInput type="number" [(ngModel)]="articile_title" value="{{row.group_code}}">
          </mat-form-field>
          </span>

          </mat-cell>
    </ng-container>

    <!-- Service group -->
    <ng-container matColumnDef="service_group">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Paslaugų grupė </mat-header-cell>
      <mat-cell *matCellDef="let row" >
          <span *ngIf="!row.editable">{{row.service_group}}</span>
          <span *ngIf="row.editable"><mat-form-field><input matInput type="text" [(ngModel)]="service_group" value="{{row.service_group}}"></mat-form-field></span>
       </mat-cell>
    </ng-container>
        <!-- Service code -->
        <ng-container matColumnDef="service_code">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Paslaugos kodas </mat-header-cell>
          <mat-cell *matCellDef="let row" >
              <span *ngIf="!row.editable">{{row.service_code}}</span>
              <span *ngIf="row.editable"><mat-form-field>
                <input matInput type="number" [(ngModel)]="service_code" value="{{row.service_code}}">
              </mat-form-field>
              </span>
          </mat-cell>
        </ng-container>
    <!-- Service title -->
    <ng-container matColumnDef="service_title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Paslaugos pavadinimas </mat-header-cell>
      <mat-cell *matCellDef="let row" >
          <span *ngIf="!row.editable">{{row.service_title}}</span>
          <span *ngIf="row.editable">
            <mat-form-field>
            <input matInput type="text" [(ngModel)]="service_title" [value]="row.service_title">
          </mat-form-field>
          </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
