.highlight {
  background: silver;
}
.classificatorNew-container {
  margin-bottom: 30px;
}
.classificator-header {
  padding: 50px;
  width: 100%;
}
.classificator-filter {
  padding: 15px;
  width: 300px;
}
