.content{

  display: flex;
  justify-content: center;

  .input1{
    margin-right: 10px;
  }

  .input2{
    margin-left: 10px;
  }

}

.button-row{
  display: flex;
  justify-content: center;
}

.auth-form{
  padding: 20px;
  background-color: #8080801a;
}


